.container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: var(--cinza-escuro);
    padding: 0 16px 0 13px;
}

.div-texto {
    color: var(--branco);
    font-size: 10px;
    font-weight: 100;
    text-align: right;
}

.div-texto p:last-child {
    font-size: 8px;
}

.icone__instagram {
    width: 50px;
    height: auto;
    padding-bottom: 2px;
}

@media screen and (min-width: 640px) {
    .container__footer {
        height: 80px;
    }
    .icone__instagram {
        width: 80px;
        padding: 0 0 1px 0;
    }
    .logoalt-footer {
        width: 60px;
        height: 60px;
    }
    .div-texto p {
        font-size: 14px;
    }
    .div-texto p:last-child {
        font-size: 10px;
    }
}

@media screen and (min-width: 1008px) {
    .container__footer {
        padding: 0 200px;
    }
    .icone__instagram {
        width: 80px;
        padding-bottom: 3px;
    }
}
