.container__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: var(--branco);
}

.logo-menu {
    width: 71px;
    margin-left: 15px;
}

.container__menu {
    
}

.button-menu {
    font-size: 28px;
    background: var(--branco);
    border: none;
    margin-right: 16px;
    color: var(--preto);
}

/*------------------------------------------*/

.container__menu-links {
    float: left;
    width: 390px;
    background: var(--branco);
    opacity: 0.98;
    position: absolute;
    top: 70px;
    left: -500px;
    transition: all 500ms;
    border-top: 1px solid #00000015 ;
}

.container__menu-links-ativo {
    left: 0px;
}

.div__menu-hamb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 780px;
}

.menu-link {
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--preto);
    margin: 32px 0 32px 47px;
}

.dog-menu {
    width: 105px;
    margin-right: 47px;
}

.marca-link {
    text-decoration: underline;
}

@media screen and (min-width: 640px) {
    .container__header {
        height: 80px;
    }
    .logo-menu {
        width: 90px;
    }
    .container__menu {
        display: none;
    }
    .container__menu-links {
        float: none;
        position: static;
        margin-right: 125px;
        border: none;
    }
    .lista__links {
        flex-direction: row;
        align-items: center;
        height: auto;
        margin-right: 8px;
    }
    .menu-link {
        margin: 16px;
        padding: 8px;
    }
    .dog-menu {
        display: none;
    }
}
