.container__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: var(--branco);
}

.logo-menu {
    width: 71px;
    margin-left: 15px;
}

.container__menu {
    
}

.button-menu {
    font-size: 28px;
    background: var(--branco);
    border: none;
    margin-right: 16px;
    color: var(--preto);
}