.container__capa {
    width: 100%;
    background: var(--lilas);
    line-height: 0;
}

.capa-disco {
    width: 100%;
}

/*--------------------------------------------*/

.container__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul-escuro);
}

.banner-img {
    width: 60px;
    height: 60px;
    margin: 4px;
}

.banner-link {
    line-height: 0;
}

/*-----------------------------------------*/

.container__fotos {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 4fr 2fr;
    line-height: 0;
}

.fotos {
    width: 100%;
}

/*-------------------------------------------*/
.container__sobrenos {
    display: flex;
    flex-direction: column;
    background: var(--cinza-escuro);
    padding: 16px 16px 0 16px;
    margin: 0;
}

.sobrenos-texto {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--branco);
    line-height: 16px;
    margin-bottom: 16px;
}

/*---------------------------------------------*/

.container__clipe-promocional {
    display: flex;
    justify-content: center;
    background: var(--preto);
    padding: 20px 0;
}

.video-promocional {
    width: 340px;
    height: 190px;
}




/*--------------------------------------------------------------------------------*/
/*-------------------------------PÁGINA VIDEOS------------------------------------*/

.container__videos {
    background: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.titulo__videos {
    color: var(--branco);
    background-color: var(--preto);
    font-size: 24px;
    padding: 16px 0 0 24px;
}

.videos-config {
    width: 340px;
    height: 190px;
    margin: 16px 0;
}

/*---------------------------------------------------------------------------------------------*/
/*-----------------------------------------TOUR.html-------------------------------------------*/

.container__tour {
    background: linear-gradient(var(--azul-escuro), var(--cinza-escuro));
    height: auto;
}

.titulo__tour {
    color: var(--branco);
    font-size: 24px;
    padding: 24px
}

.container__evento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--preto);
    margin: 0 48px;
}

.data-evento {
    font-size: 22px;
    font-weight: 600;
    color: var(--branco);
    padding: 16px;
}

.cidade-evento {
    color: var(--lilas);
    font-weight: 300;
}

.local-evento {
    color: var(--lilas);
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 16px;
}

.button-ingresso {
    font-size: 16px;
    font-weight: 600;
    color: var(--branco);
    text-transform: uppercase;
    padding: 16px 32px;
    margin-bottom: 16px;
    border: 5px solid var(--branco);
    background: none;
}
.ouca-agora {
    display: none;
    color: var(--branco);
    font-size: 24px;
}

@media screen and (min-width: 640px) {
    .container__banner {
        height: 80px;
    }
    .banner-img {
        margin: 0 32px;
        width: 75px;
        height: 75px;
    }
    .ouca-agora {
        display: block;
    }
    .section-flex {
        display: flex;
        padding: 16px;
        background: var(--branco);
    }
    .flex-foto {
        display: flex;
        flex-direction: column;
    }
    .container__sobrenos {
        padding: 32px 32px 16px 32px;
    }
    .sobrenos-texto {
        font-size: 22px;
        line-height: 22px;
    }
    .container__clipe-promocional {
        
    }
    .video-promocional, .videos-config {
        width: 680px;
        height: 380px;
    }
    .container__videos {
        padding-bottom: 8px;
    }
    .container__tour {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 16px;
    }
    .container__evento {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1008px) {
    .container__capa {
        display: flex;
        justify-content: center;
        background: var(--branco);
        line-height: 0;
    }
    
    .capa-disco {
        width: 100%;
        padding: 0 144px;
    }
    .container__banner {
        height: 100px;
    }
    .banner-img {
        width: 100px;
        height: 100px;
        margin: 0 64px;
    }
    .ouca-agora {
        font-size: 48px;
    }
    .container__fotos {
        padding: 64px 144px;
    }
    .container__sobrenos {
        padding: 64px 288px;
    }
}